* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}
section{
    height: 95vh;
    width: 100%;
}

/* --------------------------------------------------------------------------------------- Navbar */
.header {
    height: 9rem;
    margin: 0;
    padding: 0 10rem;
    background-color: white;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Helvetica, Arial, Sans-Serif;
}

.logo-box {
    height: 7rem;
    width: 15rem;
    margin: 2rem;
    color: white;
    padding: 1rem 1rem;
    margin-top: 3%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 222%;
    padding-top: 15%; 
}

.navList {
    display: flex;
    gap: 4.8rem;
    list-style: none;
    padding: 0 3rem; 
}

.navList li a{
    font-size: 1.6rem;
    cursor: pointer;
    color: gray;
    text-decoration: none;
    font-weight: bold;
}
/* ----------------------------------------------------------------------------- home sec */
.homeSec{
    background-color: #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}
.homeLeftBox{
    height: 80%;
    width: 30%;

    background-image: url('../images/processcards.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.homeRightRight{
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homeHeading p{
    font-size: 5rem;
    text-align: center;
    font-weight: bolder;
    color: grey;
}
.span1{
    color: #4CB4BE;
}
.span2{
    color: #415263;
}
.homePaira p{
    padding: 3% 7%;
    font-size: 1.5rem;
    color: grey;
}
.homeSec button{
    padding: 2% 6%;
    font-size: 2rem;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}
/* ------------------------------------------------------------------------------ process section */
.processSec{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 4% 8%;
}
.processLeftBox{
    height: 60%;
    width: 20%;
    border: 1px solid #ddd;
}
.processMiddleBox{
    height: 60%;
    width: 60%;
}
.processRightBox{
    height: 60%;
    width: 10%;
}
.bigChild{
    height: 40%;
    width: 100%;
    font-size: 2.5rem;
    font-weight: bold;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    background-color: #e5e5e5;
}
.processLeftChild{
    height: 15%;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    color: grey;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/*  */
.processMiddleBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.processMiddleChild{
    height: 100%;
    width: 32%;
    border: 1px solid green;
}
.processMiddleImg1{
    height: 80%;
    border-bottom: 1px solid black;
    background-image: url('../images/desprint.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.processMiddleImg2{
    height: 80%;
    border-bottom: 1px solid black;
    background-image: url('../images/descustom.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.processMiddleImg3{
    height: 80%;
    border-bottom: 1px solid black;
    background-image: url('../images/desprog.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.processMiddlePaira{
    height: 10%;
    width: 100%;
    padding-top: 3%;
}
.processMiddleView{
    height: 10%;
    width: 100%;
}
.processMiddlePaira p{
    height: 100%;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #415263;
}
.processMiddleView p{
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #4CB4BE;
    cursor: pointer;
}
/*  */
.processRightBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
}
.leftSlide{
    height: 50px;
    width: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #4CB4BE;
}
.rightSlide{
    height: 50px;
    width: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #4CB4BEed;
}
/* -- ------------------------------------------------------------------ creativeOption1 -- */
.creativeOption1{
    height: 60vh !important;
    display:  flex;
    justify-content: center;
    background-color: #21313e;
}
.creativeLeft{
    height: 60%; 
    width: 30%;
    padding: 3% 0%;
    text-align: center;
    margin-left: 10%;
}
.creativeRight{
    height: 110%; 
    width: 60%;
    background-image: url('../images/creativeoptions_main.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: -10% 0%;;
}
.creativeLeft h3{
    font-size: 2rem;
    color: orange;
    text-align: left;
}
.creativeLeft h1{
    font-size: 4rem;
    color: white;
    text-align: left;
    padding: 3% 0%;
}
.creativeLeft p{
    font-size: 2rem;
    color: white;
    text-align: left;
    line-height: 2.5rem;
}
/*  */
.creativeOptionPaira{
    height: 15%;
    width: 100%;
    background-color: #21313e;
}
.creativeOptionPaira p{
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    padding: 0% 30%;
    color: white
}
 .creativeCardBox{
    height: 130%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0% 7%;
    gap: 2%;
    background-color: #21313e;
 }
 .creativeCard{
    height: 90%;
    width: 30%;
 }
 .creativeCardImg1{
    height: 40%;
    width: 100%;
    background-image: url('../images/creativebank.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
 }
 .creativeCardHeading{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 34px;
    font-weight: 600;
    line-height: 1;
    color: #A4BCC2;
 }
 .checkMarkTextBox{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
 }
 .checkMarkText{
    height: 25%;
    width: 100%;
    display: flex;
    padding: 3% 3%;
 }
 .checkMarkText p{
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
 }
 .buttonDiv{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .buttonDiv .button1{
    padding: 4% 30%;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #A4BCC2;
    color: #263643;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 }
/*  */
.creativeCardImg2{
    height: 40%;
    width: 100%;
    background-image: url('../images/creativestore.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.creativeCardHeading2{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 34px;
    font-weight: 600;
    line-height: 1;
    color: orange;
}
.buttonDiv .button2{
    padding: 4% 30%;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: orange;
    color: #263643;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/*  */ 
.creativeCardImg3{
    height: 40%;
    width: 100%;
    background-image: url('../images/bespokecreative.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.creativeCardHeading3{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 34px;
    font-weight: 600;
    line-height: 1;
    color: #00BAB0;
}
.buttonDiv .button3{
    padding: 4% 30%;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #00BAB0;
    color: #263643;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* ------------------------------------------------------------------------ Meet the team */
.meetTheTeamSec{
    height: auto;
    width: 100%;
    margin-top: 19.5%;
    padding: 6% 10%;
}
.teamHeading{
    height: 10%;
    width: 100%;
}
.teamHeading p{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    font-weight: 550;
}
.teamPaira{
    height: 10%;
    width: 100%;
    padding: 2% 20%;
}
.teamPaira p{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 550;
    text-align: center;
}
.teamFilterDiv{
    height: 6vh;
    width: 100%;
    display: flex;
}
.teamFilterDiv div{
    height: 100%;
    width: 15%;
    border-right: 1px solid darkslategrey;
    cursor: pointer;
    background-color: #e9ecf1;
}
.teamFilterDiv div p{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.firstChild{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.lastChild{
    border-right: none !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #4CB4BE;
}
.hrLine{
    height: 4vh;
    width: 100%;
    border-bottom: 2px solid grey;
}
.teamCardBox{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
    padding-bottom: 3%;
}
.teamCard{
    height: 55vh;
    flex-basis: 21%;
    padding: 3% 3%;
    margin-top: 2%;
    border-radius: 5px;

    transition: all 0.4s ease-out 0s;
    box-shadow: 0px 0px 40px 0px rgb(156 156 156 / 25%);
}
.teamCard:hover{
    border: 1px solid black;
    box-shadow: none;
}
.teamImg{
    height: 50%;
    width: 100%;
}
.img{
    object-fit: contain;
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    transition: all 0.4s ease-out 0s;
}
.img:hover{
    filter: grayscale(0%);
}
.teamName{
    height: 15%;
    width: 100%;
}
.teamName p{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #415263;
    letter-spacing: 0;
    font-weight: 400;
    text-align: center;
    transition: all 0.4s ease-out 0s;
}
.teamName p:hover{
    color: #dc3545;
    cursor: pointer;
}
.teamWork{
    height: 25%;
    width: 100%;
}
.teamWork p{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #5e7185;
    text-align: center;
}
.teamContacts{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    
}
.teamContacts img:hover{
    cursor: pointer;
    fill: #dc3545 !important;
    color: #4CB4BE !important;
}
/* *************************************************************** Banner */
.banner{
    position: relative;
    height: 60vh;
    width: 100%;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.textCarosselDiv{
    position: absolute;
    height: auto;
    z-index: 999;
}
.creativeWrap{
    height: auto;
    padding: 3% 0%;
}
.creativeWrapText h2{
    padding: 1% 15%;
    text-align: center;

    font-size: 50px;
    letter-spacing: -2px;
    font-weight: 500;
    line-height: 1.1;
    color: #415263;
}
.creativeWrapText p{
    padding: 1% 15%;
    text-align: center;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #415263;
}
.creativeWrapCardBox{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0% 5%;
    gap: 2%;
}
.creativeWrapCard{
    height: 60vh;
    flex-basis: 25%;
    margin-top: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.4s ease-out 0s;
}
.creativeWrapCard:hover{
    box-shadow: none;
    border: 1px solid black;
}
.creativeWrapImg{
    height: 80%;
    width: 100%;
}
.creativeWrapImg img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.creativeWrapCardText{
    height: 20%;
    width: 100%;
    padding: 5% 0%;
    list-style: 3%;
}
.creativeWrapCardText h2{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2%;
}
.creativeWrapCardText p{
    text-align: center;
    font-size: 1.5rem;
}
/* **************************************************************************** contactSec */
.contactHeading h1{
    padding: 2% 10%;
    padding-bottom: 5%;
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    color: #415263;
}

.contactSec{
    position: relative;
    height: auto;
    width: 100%;
}

.contactBox{
    position: absolute;
    height: auto;
    width: 80%;
    padding: 3% 1%;
    left: 10%;
    top: 0%;

    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contactLeftBox{
    flex-basis: 30%;
}
.contactLeftBox h1{
    padding: 8% 4%;
    font-size: 3rem;
    color: #415263;
}
.leftIconText1{
    padding: 8% 4%;
    display: flex;
    align-items: center;
    gap: 3%;
    font-size: 2rem;
    cursor: pointer;
    color: #415263;
}
.leftIconText2{
    padding: 8% 4%;
    display: flex;
    align-items: center;
    gap: 3%;
    font-size: 1.8rem;
    cursor: pointer;
    color: #415263;
}

/*  */
.contactRightBox{
    flex-basis: 70%;
}
.nameEmailDiv{
    display: flex;
    gap: 2%;
}
.nameEmailDiv input{
    height: 8vh;
    width: 50%;
    padding: 0% 2%;
    outline: none;
    border: 1px solid gray;
    background-color: #f7f7ff;
}
.textArea textarea{
    height: 18vh;
    width: 100%;
    border: 1px solid gray;
    background-color: #f7f7ff;
    outline: none;
    padding: 2% 2%;
    margin-top: 3%;
}
.textAreaBtn button{
    padding: 2% 6%;
    font-size: 1.5rem;
    border: 1px solid gray;
    background-color: #f7f7ff;
    outline: none;
    border-radius: 5px;
    margin-top: 3%;
    color: #415263;
    font-weight: bold;
    cursor: pointer;
}
/* ******************************************************** footer */
.footerBoxes{
    position: absolute;
    top: 50%;
    height: auto;
    width: 80%;
    left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.footerBoxes div{
    height: 35vh;
    width: 25%;
    padding: 2% 3%;
    
}
.footerBox1{
    position: relative;
    display: flex;
    justify-content: center;

}

.footerBox1 .footerBoxImg{
    position: absolute;
    height: 70% !important;
    width: 70% !important;
    background-image: url('../images/reachcreative_logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.footerBoxes div h2{
    font-size: 2rem;
    padding: 2% 1%;
    color: white;
    font-weight: bold;
}
.footerBoxes div p{
    font-size: 1.5rem;
    padding: 6% 1%;
    color: white;
}
.footerHRline{
    top: 80%;
    position: absolute;
    height: 2vh;
    width: 80%;
    border-bottom: 1px solid white;
    left: 10%;
}